/* import roboto google font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
:root{
    --white : #fff;
    --black : #000;
    --orange: #ff4d07;
    --gray: #969696;
    --border-grey: #e6e3e3;
}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:'Roboto', sans-serif;
    outline: none;
    border: none;
}
button:hover{
    cursor: pointer;
}

a{
    color: var(--gray);
}
.hide{
    display: none;
}
/* container */
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

}

/* header */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2.5rem 0;
    border-bottom: 1px solid var(--border-grey);
}
header .logo{
    display: block;
}
header .logo .hamburger{
    display: none;
}
header .cart-profile{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}
header .main-logo-nav{
    display: flex;
}
header a h2{
    font-family: 'Syncopate', sans-serif;
    color: var(--black);
    font-size: 1rem;
}

header .main-nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 2rem; 
}
/* 
Cart
*/
.cart-content{
    display:none;
}
.cart{
    position: relative;
    
}
.show-cart{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: -17rem;
    width: 22rem;
    min-height: 8rem;
    background: rgb(255 255 255);
    z-index: 9999;
    border-radius: .8rem;
    transition: all 0.7s ease-in-out;
    box-shadow: 1px 15px 20px 1px #ccc;
}
.cart-info{
    border-bottom: 1px solid var(--border-grey);
    width: 100%;
    padding: 1rem;
}
.cart .empty{
    padding: 0.5rem 1rem;
}
.cart-quantity-badge{
    position: absolute;
    top: -12px;
    left: 5px;
    font-size: .8rem;
    background: red;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.cart-items{
    display: flex;
    /* align-items: self-start; */
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    gap: .5rem;
}
.cart-items li{
    display: flex;
    justify-content: space-around;
}
.cart-item span{
    display: inline-block;
    max-width: 20ch;
}
.cart-item .cart-item-image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--orange);
    margin-right: 1rem;
}
.cart-item-image img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.cart-item-remove{
    cursor: pointer;
}


/* 
main content
*/

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 10rem;
}

.main-content .showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    max-width: 1200px;
}
.item-image img{
    border-radius: .8rem;
}
.image-nav{
    display: none;
}
.tiny-images{
    display: flex;
    gap:.5rem;
}
.tiny-images li.active img{
    border: 1px solid var(--orange);
}
.tiny-images li{
    cursor: pointer;
    border-radius: .5rem;
}
.tiny-images li:hover img{
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
    opacity: .8;
}
.tiny-images li img{
    width: 100%;
    border-radius: 1rem;
}
.showcase img{
    width: 100%;
}

.main-content .item-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    align-items: stretch;
}
.item-details .company-info{
    display: block;
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--orange);
    margin-bottom: 1rem;
}
.item-details >div{
    margin-bottom: 1rem;
}
.item-details .content{
    color: var(--gray);
    font-size: .9rem;
    line-height: 1.5;
}
.item-details .price{
    display: flex;
    font-size: 1.3rem;
    position: relative;
    font-weight: bold;  
    margin: 1rem 0 3rem 0;
}
.price .discount{
    color: var(--orange);
    font-size: .8rem;
    font-weight: normal;
    text-decoration: line-through;
    margin:0 .2rem;
}
.price .discount-value{
    color: var(--orange);
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top:100%;
    text-decoration: line-through;
    font-weight: 100;
    color: var(--gray);
}
.quantity{
    /* padding: 1rem; */
    /* width: 7rem; */
    display: flex; 
    /* justify-content: space-between; */
    background: #dfdfdf;
    color: var(--orange);
    border-radius: .5rem;
}
.quantity .number{
    color: var(--black);
}
.number, .plus, .minus{
    cursor: pointer;
    padding: 1rem;
}
.buttons{
    display: flex;
    gap: 1rem;
}
.buttons .add-to-cart{
    width: 11rem;
    background: var(--orange);
    border-radius: .5rem;
    color: var(--white)
}
.add-to-cart span img{
    margin-right: .4rem;
    width: 1rem;
}


/* 
Media queries
*/

@media screen and (min-device-width: 345px) and (max-device-width: 768px) { 
    .container{
        width: 100%;
        /* padding: 1rem  */
    }
    header{
        padding: .5rem;
        border:none;
    }
    header .logo .hamburger{
        display: block;
        font-size: 1.2rem;
        font-weight: bolder;
        cursor: pointer;
    }
    header .logo{
        display: flex;
        align-items: baseline;
        gap: .5rem;
    }
    .main-content{
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }
    /* convert main nav to hamburger menu */
    header .main-nav{
        display: none;
        /* display: flex; */
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        margin-left: 0;
        position: absolute;
        left: 0;
        padding: 1rem;
        height: 100%;
        background: var(--white);
        width: 50% 
    }
    header::after{
        display: none;
        content: 'X';
        position: absolute;
        right: 55%;
        cursor: pointer;
    }
    .main-content .showcase{
        width: 100%;
    }
    .main-content .showcase img{
        width: 100%;
        border-radius: 0;
    }
    .item-image{
        position: relative;
    }
    .image-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        padding: 1rem;
        bottom: 50%;
    }
    .image-nav .next,.image-nav .prev{
        display: block;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        /* border-radius: 50%;
        background: var(--white); */
    }
    .image-nav .prev img, .image-nav .next img{
        width: 100%;
        background: white;
        border-radius: 50%;
        height: 100%;
        padding: 0.2rem;
        border: 6px solid white;
    }
    .main-content .showcase .tiny-images{
        display: none;
    }
    .main-content .item-details{
        width: 100%;
        padding: 1rem;
    }
}
   
/* Light Box */
#lightbox{
    width: 100vw;
    height: 100vh;
    background: rgba(65, 65, 65, 0.7);
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#lightbox .main-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    background: var(--white);
    border-radius: .5rem;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
    background: transparent;
}

#lightbox .image-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 50%;
}
#lightbox .image-nav .next,#lightbox .image-nav .prev{
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    /* border-radius: 50%;
    background: var(--white); */
}
#lightbox .image-nav .prev img, #lightbox .image-nav .next img{
    width: 100%;
    background: white;
    border-radius: 50%;
    height: 100%;
    padding: 0.2rem;
    border: 6px solid white;
}

#lightbox .close-lightbox{
    position: absolute;
    top: -2.5rem;
    right: -1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
}